<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <!-- <span class="badge badge-secondary">{{ '⭐️'.repeat(book.rating > 0 ? book.rating : 0) }}</span> -->
        <!-- <span *ngFor="let s of stars" class="badge badge-secondary">⭐️</span> -->
        <div class="badge badge-secondary">
          <ng-container *ngFor="let s of stars">⭐️</ng-container>
        </div>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button class="btn btn-secondary mr-2" [disabled]="book.rating! < 2"
      (click)="doRateDown()"> - </button>

    <button class="btn btn-primary"  [disabled]="book.rating! > 4"
      (click)="doRateUp()"> + </button>

    {{ log() }}

  </div>
</div>
