<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <!-- <span class="badge badge-secondary">{{ '⭐️'.repeat(book.rating > 0 ? book.rating : 0) }}</span> -->
        <!-- <span *ngFor="let s of stars" class="badge badge-secondary">⭐️</span> -->
        <div class="badge badge-secondary">
          <ng-container *ngFor="let s of stars">⭐️</ng-container>
        </div>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <!--
      😱 WORST PRACTICE! 😱

      1. Logik im HTML
      2. Objekte werden mutiert (verändert) VS Immutability
      3. Seperation of Concerns verletzt
    -->
    <button class="btn btn-secondary mr-2"
      (click)="book.rating = book.rating - 1"> - </button>

    <button class="btn btn-primary"
      (click)="book.rating = book.rating + 1"> + </button>

  </div>
</div>
